body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  transition: 1s;
}


ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
  margin-top:-10px;
}

li {
  float: left;
}

li span {
  text-align: center;
  display: block;
  color: #fff;
  padding:30px 25px;
  transition:background 1s;
  
}

li span:hover {
  cursor: pointer;
  background: #111;
}
#logo {
  float:right;
  margin-right: 20px;
  padding-top: 3px;
  width:150px;
  height: 80px;
  transition: transform 1s;

}
#logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.pages {
  position: absolute;
  transition: 1s;
}
.main-page {
  text-align: center;
  opacity: 1;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: #333;
}
#main-logo {
  position: relative;
  left:13%;
}

#start-btn {
  font-size: 1.6em;
  background: #333;
  color:#fff;
  position: relative;
  right:23%;
  top:20px;
  width:30vw;
  height:10vh;
  outline: none;
  border: none;
  transition:background 1s;
}

#start-btn:hover {
  background: #111;
  cursor: pointer;
}



.build-page {
  opacity: 0;
  z-index: 0;
}

.instruction-page {
  opacity: 0;
  z-index: 0;
  height: 90vh;
}
.instruction-page ol{
  display:grid;
}
.example-page {
  opacity: 0;
  z-index: 0;
}
.chart {
  z-index: 0;
  opacity: 0;
}
.chart-box {
  border:1px solid black ;
  border-bottom:none;
  border-right:none;
  position:relative;
  top:25vh ;
  left: 48vw;
  transform:translate(-50%,-50%)rotate(-90deg);

  transition: 1s;
}
.chart-title {
  text-align: center;
  z-index: 1;
  opacity: 1;
}
.chart-value {
  position:absolute;
  bottom:100%;
  left:110%;
  transform:translate(-50%,-50%)rotate(90deg);
}

.chart-label {
  position:absolute;
  top:110%;
  right:80%;
  transform:translate(-50%,-50%)rotate(90deg);
}




.bar-key {
  font-size: 60%;
  display:inline-block;
  position:absolute;
  transition: 0.4s;
  left: 15px;
  padding:5px;
  margin-right:10%;
  text-shadow: 1px 1px 1px #fff;
}

.bar-value {
  transition: 0.4s;
  font-size: 40%;
  display:inline-block;
  padding:5px;
  margin-left:103%;
  transform:translate(-50%,-50%)rotate(90deg);
  text-shadow: 1px 1px 1px #fff;

}

.data-init {
  text-align: center;
  transition:0.3s;
  position: absolute;
  top:10vh;
  left:20vw;
  width: 60vw;
  height: 60vh;
  z-index: 0;
  opacity: 0;
  background: rgba(36, 33, 33,0.8);
}

.data-init input, label {
  margin-top: 30px;
}

.data-init h5, button {
  margin-top: 60px;
}

.optionsMenu {
  position: absolute;
  bottom:0;
  left:0;
}
.optionsMenuBtns  {
  background:none;
  padding: 20px;
  outline: none;
  border: none;
  transition: 0.5s;
}

.optionsMenuBtns:hover {
  cursor: pointer;
  color: #fff;
  background: #111;
}